
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
   font-weight: <weight>;

  font-style: normal;
}
.header{
  background-image: url(../Assets/Hero-bg.png);
  /* background-repeat: no-repeat; */
}
.web-name{
  font-size: 34px;
  font-weight: 900px;
  color: #4E47FF;
}
.btn-primary{
    background-color:#4E47FF ;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 18px 36px;
    border: none;

}
 /* .btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    /* padding: 10px 35px;
    border-radius: 5px; */
/* } */ 
nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    
}
.text-center{
  text-align: center;
}
.banner-title{
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  /* max-width: 900px; */
}
.btn-banner{
  /* align-items: center; */
  margin: 40px 0px 164px 770px;
}





.ma{
  max-width: 1140px;
  margin: 0 auto;
}
.left{
  max-width: 517px;
}
.left-title{
  font-size: 42px;
  font-weight: bold;

}
.left-sub-title{
  font-size: 24px;
  font-weight: 400px;
  color: #252432;
}
/* .right{
  width: 403px;
} */
.action{
  margin-top: 116px;
  display: flex;
  gap: 220px;
}

/* productive section  */

.productive{
  background-color:rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
  border-radius: 24px;
  margin-top: 116px;
}

.productive-title{
  font-weight: bold;
  font-size: 38px;
  color: #252432;
}
.productive-data{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.data-title{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  margin-bottom: 0px;
}
.data-sub-title{
  font-size: 20px;
  font-weight: 400px;
  color: rgba(0, 0, 0, 0.5);
}

.touch{
  margin-top: 116px;
  display: flex;
  /* gap: 220px; */
  /* gap: 220px; */
  gap: 115px;
}

.touch-left{
  font-size: 60px;
  font-weight: bold;
  color: #000000;
}

main input[type="text"],  main input[type="email"] {
    height: 32px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: 2px solid black;
}
main textarea{
   height: 75px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: 2px solid black;

}
.btn-primary-form{
    background-color:#4E47FF ;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    /* width: 120%; */
    border-radius: 5px;
    padding: 18px 201px;
    border: none;

}
.label{
  font-size: 18px;
  font-weight: 500px;
  color: #000000;
}
.place{
  font-size: 20px;
  font-weight: 400px;
  color: rgba(0, 0, 0, 0.5);
}
footer{
  background-color:#FFFFFF ;

}



.foot-cen{
  max-width: 531px;
  margin: 104px auto;
}
.web-name{
  font-size: 100px;
  font-weight:900px ;
  color: #4E47FF;
  margin-bottom: 0;
}
.web-des{
  color: #8987A1;
}
.link-name{
  list-style: none;
  
}
.link-link{
  text-decoration: none;
  color: #8987A1;
}
.ul-link{
  display: flex;
  justify-content: space-around;
}
